<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.mapper.MiddleMapper" >
  <resultMap id="BaseResultMap" type="com.zl.pojo.MiddleDO" >
    <id column="middle_id" property="middleId" jdbcType="VARCHAR" />
    <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="gardenstuff_id" property="gardenstuffId" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    middle_id, contract_id, gardenstuff_id, number
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zl.pojo.MiddleDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from middle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from middle
    where middle_id = #{middleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from middle
    where middle_id = #{middleId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zl.pojo.MiddleDOExample" >
    delete from middle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zl.pojo.MiddleDO" >
    insert into middle (middle_id, contract_id, gardenstuff_id, 
      number)
    values (#{middleId,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}, #{gardenstuffId,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.pojo.MiddleDO" >
    insert into middle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="middleId != null" >
        middle_id,
      </if>
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="gardenstuffId != null" >
        gardenstuff_id,
      </if>
      <if test="number != null" >
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="middleId != null" >
        #{middleId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="gardenstuffId != null" >
        #{gardenstuffId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zl.pojo.MiddleDOExample" resultType="java.lang.Integer" >
    select count(*) from middle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update middle
    <set >
      <if test="record.middleId != null" >
        middle_id = #{record.middleId,jdbcType=VARCHAR},
      </if>
      <if test="record.contractId != null" >
        contract_id = #{record.contractId,jdbcType=VARCHAR},
      </if>
      <if test="record.gardenstuffId != null" >
        gardenstuff_id = #{record.gardenstuffId,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update middle
    set middle_id = #{record.middleId,jdbcType=VARCHAR},
      contract_id = #{record.contractId,jdbcType=VARCHAR},
      gardenstuff_id = #{record.gardenstuffId,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.pojo.MiddleDO" >
    update middle
    <set >
      <if test="contractId != null" >
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="gardenstuffId != null" >
        gardenstuff_id = #{gardenstuffId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
    </set>
    where middle_id = #{middleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.pojo.MiddleDO" >
    update middle
    set contract_id = #{contractId,jdbcType=VARCHAR},
      gardenstuff_id = #{gardenstuffId,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER}
    where middle_id = #{middleId,jdbcType=VARCHAR}
  </update>
</mapper>